select Назва as Виробник, count(Товар.[Код товару]) as Товарів
from Виробник inner join Товар on Виробник.[Код виробника] = Товар.[Код виробника]
group by Назва


SELECT  YEAR([Дата виробництва]) AS Рік,
COUNT([Код товару]) AS Товарів
FROM Товар 
group by YEAR([Дата виробництва]) with rollup


select Назва as Виробник, avg(Ціна) as [Середня ціна]
from Виробник inner join Товар on Виробник.[Код виробника] = Товар.[Код виробника]
group by Назва


select top(1)  Назва as [Найкращий виробник], sum(Замовлення.[Кількість товару]) as Кількість
from Виробник 
inner join Товар on Виробник.[Код виробника] = Товар.[Код виробника]
inner join Замовлення on Товар.[Код товару] = Замовлення.[Код товару]
group by Назва order by Кількість desc